[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
spade = "*"
speechrecognition = "*"
spade-bdi = {editable = true,git = "https://github.com/ccarstens/spade_bdi.git",ref = "develop"}
pyttsx3 = "*"
pytest = "*"

[requires]
python_version = "3.7"
